*.iml
*.log
*.apk
*.ap_
*.dex
*.class
*.jks

.DS_Store
.externalNativeBuild
.cxx

/local.properties
/keystore.properties

.gradle/
.signing/
.externalNativeBuild/
.navigation/

build/
/*/build/
captures/

/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml